name: DVWA DevSecOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  # -------------------------------
  # 1️⃣ Analyse SAST
  # -------------------------------
  sast_scan:
    name: SAST Scan DVWA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install PHPStan
        run: composer require --dev phpstan/phpstan

      - name: Run PHPStan Scan
        run: vendor/bin/phpstan analyse ./DVWA --error-format=json > phpstan-report.json || true

      - name: Upload SAST Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: phpstan-report
          path: phpstan-report.json

  # ==================================
  # 2️⃣ Docker Build + Image Security
  # ==================================
  image_scan:
    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker-practice/actions-setup-docker@v1
      with:
        docker_version: '20.10.7'

    - name: Build Docker Image
      run: docker build -t dvwa:latest ./DVWA

    - name: Docker Scout Scan
      run: |
        curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
        sh install-scout.sh

        echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin

        docker scout quickview dvwa:latest
        docker scout cves dvwa:latest

