name: DVWA DevSecOps Pipeline

on:
  push:
    branches:
      - main

jobs:

  # =============================
  # 1️⃣ SAST – SonarCloud
  # =============================
  sast_scan:
    name: SAST - SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=chaimaa654_banking-devsecops-pipeline
            -Dsonar.organization=chaimaa654
            -Dsonar.sources=DVWA
            -Dsonar.qualitygate.wait=false

  # =============================
  # 2️⃣ SCA – Trivy FS
  # =============================
  sca_scan:
    name: SCA - Trivy FS
    runs-on: ubuntu-latest
    needs: sast_scan

    steps:
      - uses: actions/checkout@v3

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          scan-ref: ./DVWA
          severity: HIGH,CRITICAL
          exit-code: 0

  # =============================
  # 3️⃣ IMAGE – Build + Trivy
  # =============================
  image_scan:
    name: Docker Image Build
    runs-on: ubuntu-latest
    needs: sca_scan

    steps:
      - uses: actions/checkout@v3

      - name: Build DVWA Docker Image
        run: docker build -t dvwa:latest ./DVWA

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: image
          image-ref: dvwa:latest
          exit-code: 0

  # =============================
  # 4️⃣ DAST – OWASP ZAP
  # =============================
  dast_scan:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest
    needs: image_scan

    steps:
      - uses: actions/checkout@v3

      - name: Build DVWA Docker Image
        run: docker build -t dvwa:latest ./DVWA

      - name: Run DVWA
        run: docker run -d --name dvwa-staging -p 8080:80 dvwa:latest

      - name: Wait for DVWA
        run: sleep 20

      - name: OWASP ZAP Baseline Scan
        run: |
          docker run --rm --network host ghcr.io/zaproxy/zaproxy:stable zap-baseline.py \
            -t http://localhost:8080 \
            -r zap-report.html

      - uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html

      - name: Stop DVWA
        run: docker rm -f dvwa-staging
